venv/
akbar.py
.gitignore
hw_4.py
lesson_3.py
lesson_4.py
lesson_5.py
main.py
random_animals.py
hw_5.py
.gitignore
.env
dop_9.py
hw_7.py
hw_8.py
lesson_6.py
lesson_8.py
main.py
lesson_6.6
1_hw.py
bassy.db
hw_32.py
main.py
lesson3.py
lesson9
mywork.py
homework3
media.db
paypal24.py
requirements.txt
main1.py


